* {
    margin: 0;
    padding: 0;
}

a:hover{
	transition: 0.5s;
}

.header {
    height: 90px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    position: fixed;
}

.container {
    width: 100%;
    background-color: rgba(16, 128, 234, 0.5);
    display: flex;
}

.header_conatiner {
    justify-content: space-between;
}

.logo {
    height: 80px;
    width: 20%;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    color: white;
    line-height: 80px;
}

.nav {
    height: 80px;
    width: 40%;
    display: flex;
}

.nav-area {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav-area li {
    display: inline-block;
}

.nav-area li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 16px;
    text-transform: uppercase;
}

.nav-area li a:hover {
    background: #fff;
    color: #333;
}

.nav-item:hover {
    background-color: white;
    color: rgba(16, 128, 234, 1);
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */

.slideshow-container {
    position: relative;
    margin: auto;
}

/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/* css for about */

.start_text {
    font-size: 40px; 
    color: white;
}

/* css for highlight */

.highlight {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.high_title {
    font-size: 20px;
}

.high_desc {
    font-size: 20px;
}

.high_ele {
    width: 22%;
    height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    cursor: pointer;
}

.high_ele:hover {
    background-color: white;
    color: rgba(16, 128, 234, 0.7);
    transition: 1s;
}

.hightlight_container {
    justify-content: space-between;
}


/* css for portfolio */

.portfolio {

    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(16, 128, 234, 0.2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.portfolio_container {
    flex-wrap: wrap;
    margin-top: 10px;
    width: 100%;
}

.project {
    width: 25%;
    height: 330px;
    background-color: #ECF0F1;
    display: flex;
    overflow: hidden;
}

.project_1 {
   
    background-size: cover;
}

.project_2 {
   
    background-size: cover;
    align-items: flex-end;
}

.project_3 {
   
    background-size: cover;
}

.project_4 {
    
    background-size: cover;
    align-items: flex-end;
}

.project_5 {
   
    background-size: cover;
}

.project_6 {
   
    background-size: cover;
    align-items: flex-end;
}

.project_7 {
    
    background-size: cover;
}

.project_8 {
    
    background-size: cover;
    align-items: flex-end;
}

.project_title {
    padding-top: 0px;
    padding-bottom: 40px;
    color: white;
    width: 100%;
    height: 200px;
    text-indent: 30px;
    line-height: 200px;
    background-color: rgba(16, 128, 234, 0.5);
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.project_title:hover {
    height: 350px;
    overflow: hidden;
    transition: 1s;
}

/* css for footer */

.footer {
    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    justify-content: center;
}

.footer_child {
    height: 300px;
    width: 25%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_child_1 {
    color: white;
    font-size: 20px;
}

ul {
    margin-top: 40px;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
    color: white;
}

.first {
    font: 22px;
}

.footer_child_4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social_container {
    width: 70%;
    justify-content: space-between;
    display: flex;
}

.social_items {
    height: 40px;
    width: 40px;
   
    background-size: cover;
}

/* services of SOE */

.SOE_container {
    width: 100%;
    height: 500px;
    padding-top: 5px;
    background-color: gray;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.soe_padd {
    padding-left: 50px;
}

.soe_container {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 240px;
    background-color: rgba(133, 249, 255, 0.7);
    align-items: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
}

.soe_title {
    background-color: rgba(133, 249, 255, 0.7);
    text-align: center;
    display: flex;
    height: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 36%;
}

/* Login CSS */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}


.content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    width: 370px;
    transform: translate(-50%, -50%);
    background: rgb(30, 30, 20);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
}

.content header {
    color: white;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: 'Montserrat', sans-serif;
}

.field {
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.94);
}

.field span {
    color: #222;
    width: 40px;
    line-height: 45px;
}

.field input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.space {
    margin-top: 16px;
}

.show {
    position: absolute;
    right: 13px;
    font-size: 13px;
    font-weight: 700;
    color: #222;
    display: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.pass-key:valid~.show {
    display: block;
}

.pass {
    text-align: left;
    margin: 10px 0;
}

.pass a {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.pass:hover a {
    text-decoration: underline;
}

.field input[type="submit"] {
    background: #8fc0db;
    border: 1px solid rgb(199, 214, 217);
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.field input[type="submit"]:hover {
    
    opacity: 0.85;
}

.login {
    color: white;
    margin: 20px 0;
    font-family: 'Poppins', sans-serif;
}

.links {
    display: flex;
    cursor: pointer;
    color: white;
    margin: 0 0 20px 0;
}


.links i {
    font-size: 17px;
}

i span {
    margin-left: 8px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.signup {
    font-size: 15px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.signup a {
    color: #3498db;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}


/* Dashboard*/